<app-menu-global></app-menu-global>

<div class="d-flex justify-content-center" id="header-global">
    <h1>{{ titulo }}</h1>
</div>

<div class="mainContainer ms-3 me-3">
    <div class="row mt-3 mb-3">

        <div class="col-md-4">
            <div class="card text-center shadow-sm bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">Shortcuts</h5>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#createBookModal" (click)="openCreateBook();">
                        <fa-icon [icon]="faPlus" class="icon-gu me-1"></fa-icon>New Book
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-center shadow-sm bg-dark text-white">
                <div class="card-body">
                    <h6 class="card-title">Books Read</h6>
                    <h3 class="text-danger">{{ totalBooks }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-center shadow-sm bg-dark text-white">
                <div class="card-body">
                    <h6 class="card-title">Total Pages</h6>
                    <h3 class="text-primary">{{ totalPages }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-center shadow-sm bg-dark text-white">
                <div class="card-body">
                    <h6 class="card-title">Total Price</h6>
                    <h3 class="text-success">{{ totalPrice | currency:'BRL' }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-center shadow-sm bg-dark text-white">
                <div class="card-body">
                    <h6 class="card-title">Total Days Spent</h6>
                    <h3 class="text-warning">{{ totalDaysSpent }}</h3>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="middleContainer ms-3 me-3">
    <div class="grid">
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Status</th>
                    <th scope="col">Pages</th>
                    <th scope="col">Current Page</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Genres</th>
                    <th scope="col">Format</th>
                    <th scope="col">Price</th>
                    <th scope="col">Series</th>
                    <th scope="col">Days Spent</th>
                    <th scope="col">Progress</th>
                </tr>
            </thead>
            <tbody>
                @for (book of books; track book.id) {
                <tr style="cursor:pointer;" (click)="openEditBook(book)" data-bs-toggle="modal"
                    data-bs-target="#createBookModal">
                    <td scope="col">{{ book.name }}</td>
                    <td scope="col">{{ book.author?.name }}</td>
                    <td scope="col">{{ book.publisher }}</td>
                    <td>{{ enumToString(book.status, Status) }}</td>
                    <td scope="col">{{ book.pages }}</td>
                    <td scope="col">{{ book.currentPage }}</td>
                    <td scope="col">{{ book.startDate | date:'MM/dd/yyyy' }}</td>
                    <td scope="col">{{ book.endDate | date:'MM/dd/yyyy' }}</td>
                    <td>{{ enumToString(book.genre, Genres) }}</td>
                    <td>{{ enumToString(book.format, Formats) }}</td>
                    <td scope="col">R${{ book.price }}</td>
                    <td scope="col">{{ book.series?.name }}</td>
                    <td scope="col">{{ book.daysSpentReading }}</td>
                    <td scope="col">
                        <div class="progress progressBar">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                [style.width.%]="book.progressPercentage" [class]="{
                                        'bg-danger': book.progressPercentage < 30,
                                        'bg-warning': book.progressPercentage >= 30 && book.progressPercentage < 70,
                                        'bg-success': book.progressPercentage >= 70
                                        }">
                            </div>
                        </div>
                        {{ book.progressPercentage }}%
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div class="charts">
        <div class="row">
            <div class="col-md-6" #formatChart></div>
            <div class="col-md-6" #genresChart></div>
        </div>
    </div>
</div>


<!-- Modal Create a book-->
<div class="modal fade" id="createBookModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{this.modalTitle}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text" id="name">Name</span>
                            <input type="text" class="form-control" id="name" formControlName="name" required>
                        </div>
                        @if (bookForm.get('name')?.hasError('required') && bookForm.get('name')?.touched) {
                        <div class="text-danger">
                            Name is required
                        </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text" id="author">Author</span>
                            <input class="form-control" list="authorOptions" id="author" formControlName="author"
                                required />
                            <datalist id="authorOptions">
                                @for (author of authors; track author.name) {
                                <option [value]="author.name"></option>
                                }
                            </datalist>
                        </div>
                        @if (bookForm.get('author')?.hasError('required') && bookForm.get('author')?.touched) {
                        <div class="text-danger">
                            Author is required
                        </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text" id="publisher">Publisher</span>
                            <input type="text" class="form-control" id="publisher" formControlName="publisher" required>
                        </div>
                        @if (bookForm.get('publisher')?.hasError('required') && bookForm.get('publisher')?.touched) {
                        <div class="text-danger">
                            Publisher is required
                        </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text" id="series">Series</span>
                            <input class="form-control" list="seriesOptions" id="series" formControlName="series" />
                            <datalist id="seriesOptions">
                                @for (serie of series; track serie.name) {
                                <option [value]="serie.name"></option>
                                }
                            </datalist>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text" id="start-date">Start Date</span>
                            <input type="date" class="form-control" id="start-date" formControlName="startDate"
                                [value]="bookForm.value.startDate | date:'yyyy-MM-dd'">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text" id="end-date">End Date</span>
                            <input type="date" class="form-control" id="end-date" formControlName="endDate"
                                [value]="bookForm.value.endDate | date:'yyyy-MM-dd'">
                        </div>
                        @if (endDateErrors?.dateRangeInvalid && bookForm.get('endDate')?.touched) {
                        <div class="text-danger">
                            End date must be after start date
                        </div>
                        }
                        @if (endDateErrors?.startDateRequired && bookForm.get('endDate')?.touched) {
                        <div class="text-danger">
                            Start Date must be filled if End Date is filled
                        </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text" id="format">Format</span>
                            <select class="form-select" id="format" formControlName="format" required>
                                @for (f of formats; track f.key) {
                                <option [value]="f.key">{{ f.value }}</option>
                                }
                            </select>
                        </div>
                        @if (bookForm.get('format')?.hasError('required') && bookForm.get('format')?.touched) {
                        <div class="text-danger">
                            Format is required
                        </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text" id="status">Status</span>
                            <select class="form-select" id="status" formControlName="status" required>
                                @for (s of statuses; track s.key) {
                                <option [value]="s.key">{{ s.value }}</option>
                                }
                            </select>
                        </div>
                        @if (bookForm.get('status')?.hasError('required') && bookForm.get('status')?.touched) {
                        <div class="text-danger">
                            Status is required
                        </div>
                        }
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text" id="pages">Pages</span>
                            <input type="number" class="form-control" id="pages" formControlName="pages" required>
                        </div>
                        @if (bookForm.get('pages')?.hasError('required') && bookForm.get('pages')?.touched) {
                        <div class="text-danger">
                            Pages is required
                        </div>
                        }
                        @if (bookForm.get('pages')?.hasError('pattern') && bookForm.get('pages')?.touched) {
                        <div class="text-danger">
                            Pages must be a integer
                        </div>
                        }
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text" id="current-page">Current Page</span>
                            <input type="number" class="form-control" id="current-page" formControlName="currentPage">
                        </div>
                        @if (currentPageErrors?.pagesRequired && bookForm.get('currentPage')?.touched) {
                        <div class="text-danger">
                            Pages must be filled if Current Page is filled
                        </div>
                        }
                        @if (currentPageErrors?.pagesInvalid && bookForm.get('currentPage')?.touched) {
                        <div class="text-danger">
                            Current Page must be less than or equal to Pages
                        </div>
                        }
                        @if (bookForm.get('currentPage')?.hasError('pattern') && bookForm.get('currentPage')?.touched) {
                        <div class="text-danger">
                            Current Page must be a integer
                        </div>
                        }
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text" id="price">Price</span>
                            <input type="text" class="form-control" id="price" formControlName="price">
                        </div>
                        @if (bookForm.get('price')?.hasError('pattern') && bookForm.get('price')?.touched) {
                        <div class="text-danger">
                            Price must be have only two decimal places
                        </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-text" id="genres">Genres</span>
                            <select class="form-select" id="genres" formControlName="genre" multiple required>
                                @for (g of genersList; track g.key) {
                                <option [value]="g.key">{{ g.value }}</option>
                                }
                            </select>
                        </div>
                        @if (bookForm.get('genres')?.hasError('required') && bookForm.get('genres')?.touched) {
                        <div class="text-danger">
                            Genre is required
                        </div>
                        }
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text" id="description">Description</span>
                            <textarea class="form-control" rows="3" id="description"
                                formControlName="description"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text" id="review">Review</span>
                            <textarea class="form-control" rows="3" d="review" formControlName="review"></textarea>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-success" [disabled]="bookForm.invalid">Save</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<app-footer-global></app-footer-global>