#header-global {
  border-bottom: 3px solid #13335a;
  width: 100%;
  margin-bottom: 10px;
}

.middleContainer {
  display: flex;
}

.grid {
  flex: 1;
}

.charts {
  flex: 1;
}

.progressBar {
  height: 40px;
}