#header-global {
  border-bottom: 3px solid #13335a;
  width: 100%;
  margin-bottom: 1vh;
}

.middleContainer {
  display: flex;
}

.grid {
  flex: 1;
}

.charts {
  flex: 1;
}

.progressBar {
  height: 3vh;
}

.column {
  min-width: max-content;
  white-space: nowrap;
  /* mantém o texto em uma linha */
}