<app-menu-global></app-menu-global>

<div class="d-flex justify-content-center" id="header-global">
    <h1>{{ titulo }}</h1>
</div>

<div class="mainContainer ms-3 me-3">
    <div class="row mt-3 mb-3">

        <div class="col-md-3">
            <div class="card text-center shadow-sm bg-dark text-white">
                <div class="card-body">
                    <h6 class="card-title">Books Read</h6>
                    <h3 class="text-danger">{{ totalBooks }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-center shadow-sm bg-dark text-white">
                <div class="card-body">
                    <h6 class="card-title">Total Pages</h6>
                    <h3 class="text-primary">{{ totalPages }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-center shadow-sm bg-dark text-white">
                <div class="card-body">
                    <h6 class="card-title">Total Price</h6>
                    <h3 class="text-success">{{ totalPrice | currency:'BRL' }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-center shadow-sm bg-dark text-white">
                <div class="card-body">
                    <h6 class="card-title">Total Days Spent</h6>
                    <h3 class="text-warning">{{ totalDaysSpent }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow-sm bg-dark text-white">
                <div class="card-body">
                    <h6 class="card-title">Average Time to Finish a Book</h6>
                    <h3 class="text-primary">{{ averageTime }} Days</h3>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="middleContainer ms-3 me-3">
    <p-button label="View Books" severity="info" icon="pi pi-external-link" class="mr-2" (onClick)="showDialog();" />

    <p-dialog [maximizable]="true" appendTo="body" [(visible)]="tableDialogVisible" [style]="{ width: '75vw' }">
        <p-toast />

        <p-toolbar class="mb-6">
            <ng-template #start>
                <p-button label="New Book" icon="pi pi-book" class="me-2" (onClick)="openCreateDialog();" />
                <p-button label="New Author" icon="pi pi-user" class="me-2" disabled />
                <p-button label="New Series" icon="pi pi-plus" disabled />
            </ng-template>

            <ng-template #end>
                <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV();" disabled />
            </ng-template>
        </p-toolbar>

        <p-table #dt stripedRows [scrollable]="true" [rowHover]="true" dataKey="id" [value]="books"
            [globalFilterFields]="filterFields" scrollHeight="60vh" [columns]="cols" (sortFunction)="customSort($event)"
            [customSort]="true">
            <ng-template #caption>
                <div class="row">
                    <div class="col-md-6">
                        <h5>List of Books</h5>
                    </div>
                    <div class="col-md-6 text-end">
                        <p-iconfield>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'customContains')"
                                placeholder="Search..." />
                            <p-inputicon class="pi pi-search" />
                        </p-iconfield>
                    </div>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    @for (col of cols; track col.field) {
                    <th class="column" pSortableColumn="{{col.field}}">
                        <div>
                            {{col.header}}
                            <p-sortIcon field="{{col.field}}" />
                        </div>
                    </th>
                    }
                    <th></th>
                </tr>
            </ng-template>
            <ng-template #body let-book>
                <tr>
                    <td pFrozenColumn>{{ book.name }}</td>
                    <td>
                        @for (author of book.authors; track author.id) {
                        {{ author.name }}
                        }
                    </td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ enumToString(book.genres, Genres) }}</td>
                    <td>{{ enumToString(book.format, Formats) }}</td>
                    <td>{{ book.pages }}</td>
                    <td>{{ book.currentPage }}</td>
                    <td>{{ book.startDate | date:'MM/dd/yyyy' }}</td>
                    <td>{{ book.endDate | date:'MM/dd/yyyy' }}</td>
                    <td>
                        <p-tag [value]="enumToString(book.status, Status)" [severity]="getSeverity(book.status)" />
                    </td>
                    <td>{{ book.price | currency:'BRL'}}</td>
                    <td>{{ book.series?.name }}</td>
                    <td>{{ book.daysSpentReading }}</td>
                    <td>
                        <div class="progress progressBar">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                [style.width.%]="book.progressPercentage" [class]="{
                                        'bg-danger': book.progressPercentage < 30,
                                        'bg-warning': book.progressPercentage >= 30 && book.progressPercentage < 80,
                                        'bg-success': book.progressPercentage >= 80
                                        }">
                            </div>
                        </div>
                        {{ book.progressPercentage }}%
                    </td>
                    <td class="column">
                        <p-button title="Click to edit the book" icon="pi pi-pencil" severity="warn" class="me-2"
                            [outlined]="true" [rounded]="true" (click)="openEditDialog(book);" />
                        <p-button title="Click to delete the book" icon="pi pi-trash" severity="danger" class="me-2"
                            [outlined]="true" [rounded]="true" (click)="deleteBook(book.id);" />
                        <p-button title="Click to finish the book" icon="pi pi-check" severity="success"
                            [outlined]="true" [rounded]="true" (click)="finishBook(book);" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-dialog>
    <div class="charts">
        <div class="row">
            <div class="col-md-4" #formatChart></div>
            <div class="col-md-4" #genresChart></div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="dialogVisible" [modal]="true" [style]="{ width: '30vw' }">
    <ng-template #header>
        <div>
            <span>{{this.modalTitle}}</span>
        </div>
    </ng-template>
    <form class="row g-3" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div class="col-md-6">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="name">Name</span>
                </p-inputgroup-addon>
                <input type="text" pInputText formControlName="name" id="name" required />
            </p-inputgroup>
            @if (bookForm.get('name')?.hasError('required') && bookForm.get('name')?.touched) {
            <div class="text-danger">
                Name is required
            </div>
            }
        </div>
        <div class="col-md-6">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="authors">Author</span>
                </p-inputgroup-addon>
                <p-multiselect [options]="authors" formControlName="authors" optionLabel="name" required />
            </p-inputgroup>
            @if (bookForm.get('authors')?.hasError('required') && bookForm.get('authors')?.touched) {
            <div class="text-danger">
                Authors is required
            </div>
            }
        </div>
        <div class="col-md-6">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="publisher">Publisher</span>
                </p-inputgroup-addon>
                <input type="text" pInputText formControlName="publisher" id="publisher" required />
            </p-inputgroup>
            @if (bookForm.get('publisher')?.hasError('required') && bookForm.get('publisher')?.touched) {
            <div class="text-danger">
                Publisher is required
            </div>
            }
        </div>
        <div class="col-md-6">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="series">Series</span>
                </p-inputgroup-addon>
                <p-select id="series" formControlName="series" [options]="series" optionLabel="name" />
            </p-inputgroup>
        </div>
        <div class="col-md-6">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="genres">Genres</span>
                </p-inputgroup-addon>
                <p-multiselect [options]="genersList" formControlName="genres" optionLabel="value" optionValue="key"
                    required />
            </p-inputgroup>
            @if (bookForm.get('genres')?.hasError('required') && bookForm.get('genres')?.touched) {
            <div class="text-danger">
                Genres is required
            </div>
            }
        </div>
        <div class="col-md-6">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="format">Format</span>
                </p-inputgroup-addon>
                <p-select id="format" formControlName="format" [options]="formats" optionLabel="value" optionValue="key"
                    required />
            </p-inputgroup>
            @if (bookForm.get('format')?.hasError('required') && bookForm.get('format')?.touched) {
            <div class="text-danger">
                Format is required
            </div>
            }
        </div>
        <div class="col-md-6">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="pages">Pages</span>
                </p-inputgroup-addon>
                <p-inputnumber formControlName="pages" id="pages" inputId="integeronly" required />
            </p-inputgroup>
            @if (bookForm.get('pages')?.hasError('required') && bookForm.get('pages')?.touched) {
            <div class="text-danger">
                Pages is required
            </div>
            }
        </div>
        <div class="col-md-6">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="current-page">Current Page</span>
                </p-inputgroup-addon>
                <p-inputnumber formControlName="currentPage" id="current-page" inputId="integeronly" />
            </p-inputgroup>
            @if (currentPageErrors?.pagesRequired && bookForm.get('currentPage')?.touched) {
            <div class="text-danger">
                Pages must be filled if Current Page is filled
            </div>
            }
            @if (currentPageErrors?.pagesInvalid && bookForm.get('currentPage')?.touched) {
            <div class="text-danger">
                Current Page must be less than or equal to Pages
            </div>
            }
        </div>
        <div class="col-md-6">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="start-date">Start Date</span>
                </p-inputgroup-addon>
                <p-datepicker id="start-date" formControlName="startDate" dateFormat="mm/dd/yy" [iconDisplay]="'input'"
                    [showIcon]="true" />
            </p-inputgroup>
        </div>
        <div class="col-md-6">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="end-date">End Date</span>
                </p-inputgroup-addon>
                <p-datepicker id="end-date" formControlName="endDate" dateFormat="mm/dd/yy" [iconDisplay]="'input'"
                    [showIcon]="true" />
            </p-inputgroup>
            @if (endDateErrors?.dateRangeInvalid && bookForm.get('endDate')?.touched) {
            <div class="text-danger">
                End date must be after start date
            </div>
            }
            @if (endDateErrors?.startDateRequired && bookForm.get('endDate')?.touched) {
            <div class="text-danger">
                Start Date must be filled if End Date is filled
            </div>
            }
        </div>
        <div class="col-md-6">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="status">Status</span>
                </p-inputgroup-addon>
                <p-select id="status" formControlName="status" [options]="statuses" optionLabel="value"
                    optionValue="key" required />
            </p-inputgroup>
            @if (bookForm.get('status')?.hasError('required') && bookForm.get('status')?.touched) {
            <div class="text-danger">
                Status is required
            </div>
            }
        </div>
        <div class="col-md-6">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="price">Price</span>
                </p-inputgroup-addon>
                <p-inputnumber formControlName="price" inputId="price" mode="currency" currency="BRL" locale="pt-BR" />
            </p-inputgroup>
        </div>
        <div class="col-12">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="description">Description</span>
                </p-inputgroup-addon>
                <textarea pTextarea rows="5" cols="65" id="description" formControlName="description"></textarea>
            </p-inputgroup>
        </div>
        <div class="col-12">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span id="review">Review</span>
                </p-inputgroup-addon>
                <textarea pTextarea rows="5" cols="70" id="review" formControlName="review"></textarea>
            </p-inputgroup>
        </div>
        <div class="col-12 text-center">
            <p-button type="submit" [severity]="buttonSeverity" [disabled]="bookForm.invalid"
                label="{{ isEditMode ? 'Edit' : 'Save' }}" />
        </div>
    </form>
</p-dialog>

<app-footer-global></app-footer-global>